.contact__main {
    background: linear-gradient(to right, #fffde4, #005aa7); 
    display: flex;
   

    margin: auto;
    padding: 3rem;
}

.contact__main___form{
    margin-left: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact__form__title{
    margin-bottom: 1rem;
}
.contact__form___input{
    border: none;
    outline: none;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 1.5rem;
}
.contact__form__title__h2{
    margin-bottom: 1rem;
}


.contact__form___label--disable{
    color: #0470dc;
}
.contact__form{
    margin-bottom: 1rem;
    width: auto;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);

}
.btn{
    width: 15rem;
    padding: 2rem;
    background: linear-gradient(to right, #d8bbbb, #656eeb);
    border: none;
    cursor: pointer;
    font-weight: 800;
    border-radius: 3%;
}
.contact__main___image{
    display: none
}